<html>
    <head><title>login page</title></head>
    <body>
    <h3 align="center">user login</h3>
    <form action="/check/" method="post" >
        {% csrf_token %}
        <table align="center" bgcolor="#faebd7" >
            <tr>
                <td>
                    <input type="text" placeholder="username" required name="t1">
                </td>
            </tr>

           <tr>
                <td>
                    <input type="password" placeholder="password" required name="t2">
                </td>
            </tr>

           <tr>
                <td>
                    <button type="submit">login</button>
                </td>
            </tr>

        </table>
        <h3 align="center"><font color="red">
            {{ msg }}
        </font></h3>
    </form>
    </body>
</html>